{% extends "page/index.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js' defer></script>
	<script type="text/javascript" src="{{ asset('js/component/Calendar.js') }}" defer></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const calendarEl = document.getElementById('calendar');

        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            selectable: true,
            select: function(info) {
                var title = prompt('Title:');
                if (title) {
                    calendar.addEvent({title: title, start: info.start, end: info.end, allDay: info.allDay});
                }
            },
            dateClick: function(info) {
                const event = {
                    title: '',
                    start: info.date,
                    end: info.date
                };

                calendar.addEvent(event);
            }
        });

        calendar.render();
    });
</script>


{% endblock %}

{% block content %}
	<div id="calendar" class="mh-100"></div>
{% endblock %}
