#sidebar {
    height: 100vh;

    .sidebar-content {
        flex: 1;

        .sidebar-content-notebooks,
        .sidebar-content-websites {
            max-height: 350px;
            flex: inherit;
        }
    }

    .sidebar-bottom {
        gap: 1em;
    }
}
