#sidebar {
    height: 100vh;

    .sidebar-content {
        flex: 1;
        max-height: 750px;

        .sidebar-content-notebooks {
            flex: inherit;
        }
    }

    .sidebar-bottom {
        gap: 1em;
    }
}
