@import "variables";
@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.form-control::placeholder,
.form-control::-ms-input-placeholder {
    color: red !important;
}
