#auth {
    height: inherit;
    grid-template-columns: minmax(400px, .4fr) 1fr;

    .bg-img {
        background-image: url('/imgs/auth_bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}