.select-search {
    .select-search-content {
        max-height: 200px;
        
        h6.select-search-item {
            cursor: pointer;
            transition: background-color 125ms ease-in-out;
            
            &:hover {
                background-color: #6262cfb3;
            }
        }
    }
}
