{% block flash %}
	<div class="alert alert-{{ type }} alert-dismissible d-flex align-items-center fade show" role="alert">
		<svg class="bi flex-shrink-0 me-2" height="24px" width="24px" role="img"><use xlink:href="#{{ type }}"/></svg>
		<div>
			{{ message }}
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endblock %}
