{% block topbar %}
	<div id="topbar" class="d-flex align-items-center justify-content-end px-3 bg-dark border border-start-0 border-top-0">
		<h3 class="text-primary">
				{% if subNote.title is defined %}
					Note: {{ subNote.title }}
				{% endif %}
		</h3>

		{% if routeName == "Note" %}
			<a class="btn btn-danger ms-auto" href={{ path("app.note.delete", { id: subNote.id } ) }}>Delete note</a>
		{% endif %}
		<a href="{{ path("app") }}"><img src="/imgs/logo.png" class="ms-3 " style="width:60px"></a>

	</div>
{% endblock %}
